<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!--引入thymeleaf主题的功能-->
<head>
    <title>Nanxi's Space</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Nanxi's Space</span>
            </button>
            <a class="navbar-brand" href="#">Nanxi's Space</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Topics">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--page: https://github.com/login/oauth/authorize
                    query parameter: client_id (got an id after register from github)
                                     redirect_uri = call back page
                                     scope
                                     state = random
                -->
                <!--th 从thymeleaf主题来的功能-->
                <li class="dropdown" th:if = "${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Message</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>

                <li th:if="${session.user} ==null"><a href="https://github.com/login/oauth/authorize?client_id=9691b9565f23ace9c17a&redirect_uri=http://localhost:8882/callback&scope=user&state=1">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>